<div class="container">
<div class="row">

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 nombre text-center justify-center">
        <img src="../../../assets/perfil.png" class="img-fluid">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9 acerca">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy una entusiasta de la tecnología. Mi principal objetivo es desarrollar la mayor cantidad de experiencia posible en aquellas áreas en las que se utilicen tecnologías innovadoras, con el fin de generar valor agregado. Al mismo tiempo aspiro a desarrollarme aún más como profesional y alcanzar objetivos personales relacionados con la innovación y el mundo del la informática.</p>
        </span>
    </div>
</div>
</div>
