<div class="row gx-0">
    <div class="container">
        <div class="logo">
            <img id="logoap" src="../../../assets/APLogo.png">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/mar%C3%ADa-grisel-miranda-16589135" target="_blank"
                title="Linkedin"><img id="linkedin" src="../../../assets/linkedin.png"></a>
            <a href="https://github.com/kasumita" target="_blank" title="Github"><img
                    src="../../../assets/github.png"></a>
            <a href="https://www.facebook.com/kasumita" target="_blank" title="Facebook"><img
                    src="../../../assets/facebook.png"></a>
            <a href="https://twitter.com/kasumita" target="_blank" title="Twitter"><img
                    src="../../../assets/twitter.png"></a>
            <a href="https://www.instagram.com/kasumita/" target="_blank" title="Instagram"><img
                    src="../../../assets/instagram.png"></a>
            <button type="button" class="btn btn-outline-light">Login</button>
        </div>
    </div>
</div>