.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#logoap{
    width:130px;
    margin-left: 10px;
}
img{
    width: 30px;   
}
.redes{
    margin-right: 10px;
}
.btn{
    border-width: 2px;
    margin-left: 15px;
}
.redes img{ 
    margin-right:0.3em;
}
@media (max-width: 460px) {
    #logoap{
        width:100px;
        margin-left: 3px;
  }
  img{
    width: 25px;   
}
.btn{
    border-width: 2px;
    margin-left: 2px;
}
}
@media (max-width: 360px) {
    #logoap{
        width:60px;
        margin-left: 0px;
  }
  img{
    width: 17px;   
}
.btn{
    width: 60px;
    border-width: 0px;
    margin-left: 3px;
}
}