@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
.img-fluid{
    position:relative;
    border-radius: 50%;
    border: 8px solid rgb(156, 63, 121);   
top:-9vh;
width: 9vw;
}
#nombre{
    position:relative;
    font-weight: bold;
    font-size:22px;
    color: #fff;
    margin-top: -65px;
    font-family: Roboto;
    letter-spacing: 1px;
}
h1{ 
    margin-top:15px;
    color:rgb(156, 63, 121);
    font-family: Roboto;
    font-size: 30px;
}
#titulo{
    font-weight:bold;
}
.nombre{
    background-color: rgba(156, 63, 120, 0.425);
    padding-left:3vw;
    height:24vh;
}
.container{
    background-color: rgba(156, 63, 120, 0.425);
    height: 200px;
    border-right: 5px dashed rgb(156, 63, 121) ;
    border-bottom: 5px dashed rgb(156, 63, 121) ;
}
.acerca{

    height:24vh;
}
@media (min-width: 1200px) {
    .container{
        max-width: 2080px;
    }
}