<div class="container">
<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 nombre">
        <img src="../../../assets/perfil.png" class="img-fluid">
        <p id="nombre">María Grisel Miranda</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 acerca">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsa consequatur debitis quod quis soluta laboriosam porro expedita obcaecati eligendi, sunt delectus, harum consectetur cumque quas maiores quidem magni dolores vitae at reprehenderit assumenda. Architecto deleniti repellat quos sunt sapiente. Optio deserunt, accusamus expedita nam rerum earum. Blanditiis debitis beatae accusamus repellendus fugit amet, magnam et nihil reiciendis tempora unde quod tempore! Inventore, tempora quasi. Sed eaque totam est voluptas amet repellat, cumque in? Excepturi obcaecati architecto blanditiis amet delectus voluptates sed quam! Hic magni beatae earum illo doloribus. Magnam voluptate vitae sint veniam labore nam minima suscipit voluptatem? Nisi.</p>
        </span>
    </div>
</div>
</div>
