<div class="container">
<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 nombre">
        <img src="../../../assets/perfil.png" class="img-fluid">
        <p id="nombre">María Grisel Miranda</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 acerca">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam provident quo sunt dicta facere et voluptatem nesciunt nobis blanditiis illum? Quasi sapiente qui temporibus animi pariatur. Expedita laboriosam, reprehenderit officiis vel nam reiciendis dolore. Consequuntur qui, quia placeat fugit debitis autem natus iure omnis eos dolores fuga dicta soluta magni animi possimus asperiores ab inventore. Voluptate beatae illo ipsum eveniet molestiae, harum natus aspernatur necessitatibus ex, obcaecati voluptatibus? Facere dolorem, repudiandae reprehenderit a aliquid ratione atque culpa ipsam provident perferendis?</p>
        </span>
    </div>
</div>
</div>
