<div class="container">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'HTML y CSS'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'MySQL'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'JS'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'JAVA'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'PYTHON'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'GIT'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'ENGLISH'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-3 col-lg-3">
            <circle-progress [percent]="80" [radius]="100" [title]="'RUBY'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156, 63, 121)'"
                [innerStrokeColor]="'rgba(156, 63, 120, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
    </div>
</div>