<div class="container">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="90" [radius]="80" [imageSrc]="'../../../assets/html.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'HTML'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(255,87,34,255)'"
                [innerStrokeColor]="'rgba(255,87,34, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="80" [radius]="80" [imageSrc]="'../../../assets/css.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(33,150,243,255)'"
                [innerStrokeColor]="'rgba(33,150,243, 0.425)'" [animation]="true" [animationDuration]="600" >
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="70" [radius]="80" [imageSrc]="'../../../assets/mysql.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'MySQL'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(0, 96, 140, 255)'"
                [innerStrokeColor]="'rgba(230,143,0, 0.625)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="80" [radius]="80" [imageSrc]="'../../../assets/js.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'JS'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(255,223,0,255)'"
                [innerStrokeColor]="'rgba(255,223,0, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="70" [radius]="80" [imageSrc]="'../../../assets/java.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'JAVA'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(66,117,149,255)'"
                [innerStrokeColor]="'rgba(225,31,34, 0.825)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="80" [radius]="80" [imageSrc]="'../../../assets/python.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'PYTHON'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(56,118,172)'"
                [innerStrokeColor]="'rgba(247,205,0,425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="70" [radius]="80"  [imageSrc]="'../../../assets/git.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'GIT'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(156,93,181)'"
                [innerStrokeColor]="'rgba(156,93,181, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
       
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="50" [radius]="80" [imageSrc]="'../../../assets/ruby.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'RUBY'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(167,14,7)'"
                [innerStrokeColor]="'rgba(167,14,7, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="40" [radius]="80" [imageSrc]="'../../../assets/spring.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'SPRING BOOT'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(115,183,71)'"
                [innerStrokeColor]="'rgba(115,183,71, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="60" [radius]="80" [imageSrc]="'../../../assets/angular.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'ANGULAR'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(195,0,47,255)'"
                [innerStrokeColor]="'rgba(221,0,49,0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="80" [radius]="80" [imageSrc]="'../../../assets/blender.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [title]="'BLENDER'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgb(252,140,5)'"
                [innerStrokeColor]="'rgba(30,77,149, 0.425)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>
        <div class="text-center col-sm-6 col-m-4 col-lg-3 col-xl-2">
            <circle-progress [percent]="80"  [imageSrc]="'../../../assets/eng.png'" [imageHeight]="80" [imageWidth]="75" [showImage]="true" [radius]="80" [title]="'ENGLISH'" [showUnits]="false" [showSubtitle]="false"
                [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'rgba(183,40,60,255)'"
                [innerStrokeColor]="'rgba(57,56,110, 0.625)'" [animation]="true" [animationDuration]="600">
            </circle-progress>
        </div>

    </div>
</div>