.container {
    margin-top: 5vh;
  }
  .row {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  h1,
  h2 {
    display: inline;
    padding-bottom: 1em;
  }

  .python{
    width:300px;
    height:250px;
    image-resolution: cover;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
    
  }
  .imagenes{
    width:420px;
 
    
  }
.proyect{
  display: inline-block;
}