<div class="container">
    <div class="row">
        <h1>Proyectos realizados</h1>
       

        <div class="contenedor p-4">
         
            <div class= "col-sm-12 col-md-12 col-lg-5 text-center align-center proyect">
                <img src="../../../assets/sonic.jpeg" alt="" class="imagenes img-fluid">
            </div>
            
            <div class= "col-sm-12 col-md-12 col-lg-5 align-center proyect offset-md-1 offset-lg-1 mt-2">
                
                <h3>Cherolet Sonic</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere animi perspiciatis soluta, est sunt
                    id possimus asperiores voluptatem. Laboriosam, iusto?</p>
                  
            </div>
        

        </div>

        <div class="contenedor p-4">
         
            <div class= "col-sm-12 col-md-12 col-lg-5 text-center align-center proyect">
                <img src="../../../assets/pizza.jpeg" alt="" class="imagenes img-fluid">
            </div>
            
            <div class= "col-sm-12 col-md-12 col-lg-5 align-center proyect offset-md-1 offset-lg-1 mt-2">
                
                <h3>Pizza Frenzy</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere animi perspiciatis soluta, est sunt
                    id possimus asperiores voluptatem. Laboriosam, iusto?</p>
            </div>
        

        </div>

        <div class="contenedor p-4">
         
            <div class= "col-sm-12 col-md-12 col-lg-5 text-center align-center proyect">
                <img src="../../../assets/tecnica.png" alt="" class="imagenes img-fluid">
            </div>
            
            <div class= "col-sm-12 col-md-12 col-lg-5 align-center proyect offset-md-1 offset-lg-1 mt-2">
                
                <h3>Tecnica</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere animi perspiciatis soluta, est sunt
                    id possimus asperiores voluptatem. Laboriosam, iusto?</p>
            </div>
        

        </div>

        <div class="contenedor p-4">
         
            <div class= "col-sm-12 col-md-12 col-lg-5 text-center align-center proyect">
                <img src="../../../assets/formulario.png" alt="" class="imagenes img-fluid">
            </div>
            
            <div class= "col-sm-12 col-md-12 col-lg-5 align-center proyect offset-md-1 offset-lg-1 mt-2">
                
                <h3>Formulario</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere animi perspiciatis soluta, est sunt
                    id possimus asperiores voluptatem. Laboriosam, iusto?</p>
            </div>
        

        </div>

        
        <div class="contenedor p-4">
         
            <div class= "col-sm-12 col-md-12 col-lg-5 text-center align-center proyect">
                <img src="../../../assets/caseconverter.png" alt="" class="imagenes img-fluid">
            </div>
            
            <div class= "col-sm-12 col-md-12 col-lg-5 align-center proyect offset-md-1 offset-lg-1 mt-2">
                
                <h3>Case Converter</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere animi perspiciatis soluta, est sunt
                    id possimus asperiores voluptatem. Laboriosam, iusto?</p>
            </div>
        

        </div>


    </div>
    <div class="row">
        <h2 class="text-center proyectos">Proyectos en Python</h2>
        <div class="row col-sm-12 col-md-4 col-lg-4 text-center align-center">
            <img class="python img-fluid" src="../../../assets/kasucuentas.png" alt="">
            <h5>KasuCuentas</h5>
            <p>Proyecto de programa para calcular gastos bancarios y de tarjetas de crédito personales</p>
        </div>
        <div class="row col-sm-12 col-md-4 col-lg-4 text-center align-center">
            <img class="python img-fluid" src="../../../assets/moviechooser.png" alt="">
            <h5>MovieChooser</h5>
            <p>Programa que selecciona aleatoriamente una pelicula para decidir cual mirar</p>
        </div>
        <div class="row col-sm-12 col-md-4 col-lg-4 text-center align-center">
            <img class="python img-fluid" src="../../../assets/ropygame.png" alt="">
            <h5>Ragnarok Pygame</h5>
            <p>Juego de prueba hecho en Pygame.</p>
        </div>
    </div>

    <div class="row">
        <h2 class="text-center proyectos">Proyectos en Blender</h2>
        <div class="row col-sm-12 col-md-4 col-lg-4 text-center align-center">
            <img class="python img-fluid" src="../../../assets/puestito.png" alt="">
            <h5>Puesto Hotdogs</h5>
            <p>Puestito de hotdogs animado hecho en Blender.</p>
        </div>
        <div class="row col-sm-12 col-md-4 col-lg-4 text-center align-center">
            <img class="python img-fluid" src="../../../assets/vaso.png" alt="">
            <h5>Vaso de Vidrio</h5>
            <p>Vaso de vidrio 3d modelado en Blender.</p>
        </div>
        <div class="row col-sm-12 col-md-4 col-lg-4 text-center align-center">
            <img class="python img-fluid" src="../../../assets/dona.png" alt="">
            <h5>Dona & Cafe</h5>
            <p>Animación de una taza y una dona realizada en Blender.</p>
        </div>
    </div>


</div>